@font-face {
    font-family: 'geomanist-regular-webfont';
    src: url(/Fonts/geomanist-regular-webfont.ttf);
}

*{
    margin: 0px;
    padding: 0px;

}
body{
    background-image: url('https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%;
    background-attachment: fixed;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
    width:100%;
}
.container h2{
    font-family: "geomanist-regular-webfont";
    font-size: 3em;
    color:  #1095c1;

}
 .navbar a{
    display: flex;
    float: left;
}

a{
    line-height: 1.2em;
    color:#0000;
    text-shadow: 0 0 #000, 0 1.2em #1095c1;
    overflow: hidden;
    transition: 0.3s;
    font-size: 1em;
    margin: 10px;
    font-family: 'geomanist-regular-webfont';
}
a:hover{
    text-shadow: 0 -1.2em #000, 0 0 #1095c1;
}

footer{
    padding: 20px;
    text-align: center;
    height: 200px;
    background-color: #333;
    color: #fff;
    text-shadow: 2px 2px 2px 2px gray;
    width: 100%;
}