
*{
    box-sizing: border-box;
}

body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
        to right,
        rgb(0, 166, 255),
        rgb(217, 0, 255)
    );
}

.zoom-wrapper{
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.zoom-wrapper img{
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
    cursor: pointer;
}

.zoom-wrapper:hover img{
    transform: scale(1.5);
}